h1, h2, h3 {
  font-family: 'PT Sans', sans-serif !important;
  font-weight: 700;
  color: #056e00;
}

.z-container {
  width: 100%;
  padding: 0px 0px;
}

.z-body {
  /*max-width: 1000px;*/
  margin: 0px auto;
}

.z-block {
  border: 0px solid #ccc;
  padding: 10px;
}

.z-block-main {
  background: url("/sekacka.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; 
  color: white;
  text-align: center;
}

.z-block-main h2 {
  font-size: 40px;
  margin: 100px 0px;
  color: white;
}

.z-block-calc {
  background: url("/back.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; 
}

.z-block-calc-content {
  background: white;
  max-width: 800px;
  margin: 50px auto;
  padding: 0px;
  color: #056e00;
}

.z-block-calc-content-left, .z-block-calc-content-right {
  width: calc(50% - 2px);
  padding: 30px;
  display: inline-block;
}

.z-block-calc-content-right {
  text-align: center;
}

#value {
  font-size: 18px;
  font-weight: bold;
}

.z-block-how {
  text-align: center;
}

.z-block-newletter {

}

.z-block-newletter-content {
  margin: 30px auto;
  max-width: 600px;
}

.z-block-newletter-content h2 {
  text-align: center;
}

.logo {
  background: white;
  position: relative;
  top: -10px;
  padding: 5px 20px 15px 20px;
  border-radius: 0px 0px 10px 10px;
}

.z-block-how-logos {

}

.z-block-how-logo {
  display: inline-block;
  padding: 20px;
  width: 200px;
  vertical-align: top;
  position: relative;
}

.z-block-how-logo span {
  height: 110px;
  display: inline-block;
}

.z-block-newletter-content {
  text-align: center;
}

.z-block-newletter-content h2 {
  margin: 35px 0px;
}

.z-block-newletter-content p {
  margin: 15px 0px;
}

.btn, .btn:hover {
  background: #056e00;
  color: white;
  border-color: white;
  font-weight: bold;
}

.btn:hover {
  border-color: #056e00;
}

#email {
  width: 300px;
  border: none;
  background: #eee;
}

h2 a {
  color: #056e00;
}

.z-block-about {
  border-top: 1px solid #eee;
  padding: 50px 0px;
  text-align: center;
}

.about-honza {
  display: inline-block;
  vertical-align: top;
}

.about-text {
  display: inline-block;
  vertical-align: top;
}
